.dashboard .info-card{
    padding-bottom: 10px;
    cursor: pointer;
}

.dashboard .info-card h6{
    font-size: 28px;
    color: #012970;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.dashboard .card-icon{
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .sales-card .card-icon{
    background: #f6f6fe;
    color: #4154f1;
}

.dashboard .revenue-card .card-icon{
    background: #e0f8e9;
    color: #2eca6a;
}

.dashboard .customers-card .card-icon{
    background: #ffecdf;
    color: #ff881d;
}