/* .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0;
    display: none;
  }
  
  .dropdown-submenu:hover .dropdown-menu {
    display: block;
  }
  
  .custom-range-container {
    padding: 10px;
  }
   */

   /* CardFilter.css */

.btn{
  position: relative;
  margin: 75px 40px 0 0;
  z-index: 998;
}

.dropdown-menu .dropdown-item {
    padding: 10px 15px;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .dropdown-menu .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
  }
  
  .dropdown-menu .dropdown-item:hover {
    background-color: #f6f9ff;
  }
  
  @media (min-width: 768px) {
    .dropdown-menu-arrow::before {
      content: "";
      width: 13px;
      height: 13px;
      background: #fff;
      position: absolute;
      top: -7px;
      right: 20px;
      transform: rotate(45deg);
      border-top: 1px solid #eaedf1;
      border-left: 1px solid #eaedf1;
    }
  }
  
  @-webkit-keyframes dropdown-animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }
  
  @keyframes dropdown-animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }
  
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: 0;
  }
  
  .custom-range-dropdown {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000; /* Ensure it is above other content */
    width: 300px; /* Adjust width as needed */
  }
  
  .custom-range-container {
    padding: 10px;
  }
  